h1{
  color: pink;
}
h2{
  color: pink;
}
body {
  background-image: url("../bg/back.jpg");
  background-size: cover;
  font-size: 110%;
}
h3{
  background-image: url("../bg/pic2.jpeg");
  background-size: cover;
  color: white;
    width: 490px;
  font-size:30px;
  
}
p{
  font-size: 34;
  color:pink
}
ls{
  color:  white;
  background-image: url("../bg/pic2.jpeg");
  background-size: cover;
  font-size:  110%;
}
